body,html{
    height: 100%;
    margin-top: -1px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.p-3{
    padding: 0px 20px;
}

.mt-5{
    margin-top: 10px;
}

/* For class Navbar */
.navbar{
    overflow: hidden;
    background-color: #212121;
    text-align: center;
}

/* For title name */
.nav-title{
    float: left;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #9fa8da;
    text-align: center;
    margin-left: 50px;
}
/* For button */
.nav{
    background-color: #212121;
    margin-right: 50px;
}

/* For style of button */
.nav a{
    float: right;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #9fa8da;
    text-align: center;
    padding: 5px 15px;
}
/* Hover the button of Navbar */
.nav a:hover {
    background-color: #9fa8da;
    color: #212121;
}
/* For Jumbotron Image */
.jumbo-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("asset/sakura-no-hana.jpg");
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* For Jumbotron text */
.jumbo-title{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* For Profile */
.container{
    background-color: #eeeeee;
    box-sizing: border-box;
    text-align: center;
    color: #424242;
    overflow: auto;
    padding: 50px 50px;
}

.content{
    margin: 0 auto;
    width: 80%;
    font-size: 20px;
}

/* Table Settings */
.table{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: medium;
    color: #424242;
}

/* Avatar */
.avatar{
    border-radius:50%;
    vertical-align: middle;
    width: 15%;
    height: 15%;
}

/* Title color */
.title{
    color: #1a237e;
}

.title2{
    color: #212121;
}

/* HR */
.line{
    border: 1px solid;
    border-color: #616161;
    background-color: #616161;
    border-radius: 20%;
    width: 30%;
    margin-bottom: 40px;
}

/* Card Attr */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}
  
.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-inside {
padding: 2px 16px;
}

img {
    border-radius: 5px 5px 0 0;
}

/* footer */
.footer {
    padding: 10px 0px;
    background-color: #212121;
    color: #ffffff;
    font-weight: bold;
    min-height: 100px;
    padding: 10px;
    text-align: center;
    overflow: auto;
}

.contact{
    overflow: hidden;
    float: right;
}

.contact a{
    padding: 0px 5px;
}